{% extends 'base.html' %}
{%block title%} page {% endblock %}

{% block content %}
<div class="container">
    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Описание</th>
            <th scope="col">Дата</th>
[]          </tr>
        </thead>
        {% for i in favourite %}
        <tbody>
          <tr>
            <th scope="row">{{i.id}}</th>
            <td> {{i.favourite_title}} </td>
            <td> {{i.favourite_description}} </td>
            <td> {{ i.favourite_sent_at}} </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
</div>


{% endblock %}