{% extends 'base.html' %}
{%block title%} home {% endblock %}

{% block content %}
<div class="container">
    <form action="create/" method="POST">
        {% csrf_token %}
    <div class="mb-3 mt-5">
        <label for="exampleFormControlInput1" class="form-label" >Название</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder = "Имя" >
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
        <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>


<table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Описание</th>
        <th scope="col">Дата</th>
        <th scope="col">Изменить</th>
        <th scope="col">Удалить</th>
        <th scope="col">избранные</th>
      </tr>
    </thead>
    {% for i in todo %}
    <tbody>
      <tr>
        <th scope="row">{{i.id}}</th>
        <td> {{i.title}} </td>
        <td> {{i.description}} </td>
        <td> {{ i.sent_at}} </td>
        <td><a href="edit/{{i.id}}"><i class="fa-regular fa-pen-to-square"></a></td>
        <td><a href="delete/{{i.id}}"> <i class="fa-solid fa-trash"></i></a></td>
        <td><a href="favourites/{{i.id}}"> <i class="fa-solid fa-heart"></i></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

  {% endblock %}

